@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url('https://static.pexels.com/photos/26206/pexels-photo.jpg') no-repeat 50% 50%;
	top: 0;
	background-size: cover;

}


.content {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	display: flex;
  	justify-content: center;
  	align-items: center;
}


.content h1 {
	font-family: 'Raleway', sans-serif;
	color: orange;
	text-shadow: 1px 1px 300px #000;
	font-size: 500%;
	display: block;
}

.btn {
	border-radius: 9px;
	font-family: 'Oswald';
	color: #036a81;
	font-size: 135%;
	padding: 10px 20px;
	border: solid #036a81 3px;
	text-transform: uppercase;
	text-decoration: none;
	display: block;

}